.form-field-error {
  border-color: #af3232;
  -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1) inset, 0 0 8px 0 rgba(175, 50, 50, 0.6);
  -moz-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1) inset, 0 0 8px 0 rgba(175, 50, 50, 0.6);
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1) inset, 0 0 8px 0 rgba(175, 50, 50, 0.6);
}
#partnerships #main-feature {
  text-align: center;
}
#partnerships #main-feature p,
#partnerships #main-feature hgroup {
  margin-left: 90px;
  margin-right: 90px;
}
#partnerships #main-feature p {
  margin-bottom: 0;
}
#partnerships #main-content {
  background-image: url(/media/img/mozorg/partnerships/sidebar-bg.png);
  background-position: 100% 0;
  background-repeat: repeat-y;
}
#partnerships #sections {
  float: left;
  width: 700px;
  margin: 0 10px;
}
#partnerships #sections section {
  zoom: 1;
  margin-right: 40px;
  margin-bottom: 30px;
  position: relative;
  background: url(/media/img/mozorg/partnerships/divider.png) 50% 100% no-repeat;
  padding-bottom: 30px;
}
#partnerships #sections section:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
}
#partnerships #sections section p,
#partnerships #sections section h3 {
  float: left;
  width: 460px;
  margin: 0 10px;
  margin-left: 0;
  margin-bottom: 10px;
}
#partnerships #sections section img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}
#partnerships #sections section img.icon {
  width: auto;
  position: absolute;
  top: 60px;
  right: 0;
}
#partnerships #sections section#cobrand {
  background: none;
  margin-bottom: 0;
}
#partner {
  float: left;
  width: 220px;
  margin: 0 10px;
}
#partner #sf-form label {
  color: #666666;
  position: absolute!important;
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  padding: 0;
  border: 0;
}
#partner #sf-form label.shown {
  text-indent: 0;
  left: auto;
  position: relative;
}
#partner #sf-form .field {
  padding: 5px 0;
}
#partner #sf-form input,
#partner #sf-form select,
#partner #sf-form textarea {
  width: 200px;
}
#partner #sf-form select {
  width: 100%;
}
#partner #sf-form .footer-field input {
  width: 218px;
}
#partner #sf-form input.error {
  border-color: #af3232;
  -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1) inset, 0 0 8px 0 rgba(175, 50, 50, 0.6);
  -moz-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1) inset, 0 0 8px 0 rgba(175, 50, 50, 0.6);
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1) inset, 0 0 8px 0 rgba(175, 50, 50, 0.6);
}
#partner #sf-form label.error {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: #af3232;
  font-weight: bold;
  text-transform: uppercase;
}
#distributions {
  float: left;
  width: 620px;
  margin: 0 10px;
  margin-left: 0;
}
#partner-form-error {
  margin-bottom: 20px;
}
.cloaked {
  display: none;
  visibility: hidden;
}
/* Tablet Layout: 760px */
@media only screen and (min-width: 760px) and (max-width: 1000px) {
  #partnerships #main-feature {
    text-align: center;
  }
  #partnerships #main-feature p,
  #partnerships #main-feature hgroup {
    margin-left: 0;
    margin-right: 0;
  }
  #partnerships #sections {
    float: left;
    width: 460px;
    margin: 0 10px;
  }
  #partnerships #sections section img.icon {
    height: 150px;
    width: 150px;
    top: 10px;
  }
  #partnerships #sections section h3 {
    float: left;
    width: 280px;
    margin: 0 10px;
    margin-left: 0;
    margin-bottom: 10px;
  }
  #partnerships #sections section p {
    width: auto;
  }
  #partnerships #partner {
    float: left;
    width: 220px;
    margin: 0 10px;
  }
}
/* Mobile layout: 320px */
@media only screen and (max-width: 760px) {
  #partnerships #main-feature p,
  #partnerships #main-feature hgroup {
    margin-left: 10px;
    margin-right: 10px;
  }
  #partnerships #main-content {
    background-image: none;
  }
  #partnerships #sections {
    width: auto;
    float: none;
  }
  #partnerships #sections section {
    margin-right: 0;
  }
  #partnerships #sections section img.icon {
    height: 80px;
    width: 80px;
    top: 10px;
  }
  #partnerships #sections section h3,
  #partnerships #sections section p {
    width: auto;
    float: none;
    clear: both;
  }
  #partnerships #partner {
    width: auto;
    float: none;
  }
}
